
.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-button {    
  cursor: pointer;
  outline: none;
  margin-left: 8px;
  display:inline-block;
  padding: 8px;
  border-radius:5px;   
  height:50px;
  width: 100px;
  border:none;
  background-color:rgb(44, 58, 71);
  color:white;
  font-size:16px;    
  transition: .5s ease-in;  
}

.App-button:hover{
  box-shadow:0 14px 6px 0 rgba(93,93,93,.25), 0 1px 3px 0 rgba(0,0,0,.15);
  background-color:#727883;
  transition:opacity 1s cubic-bezier(.645,.045,.355,1),-webkit-transform .8s cubic-bezier(.645,.045,.355,1);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(44, 58, 71);  
  color: white;
  width: 80%;
  margin: auto;
}

.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-links > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 40%;
  min-height: 8vh;
}
.nav-links > a:hover{
  background-color: rgb(74, 86, 97);  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

